/* #attention{
    color: crimson;
} */

/* .red{
    color: crimson;
} */
/* body{
    margin: 20px;
    font-family: poppins;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(219, 219, 210) ;
}

.container{
    display: grid;
    align-items: center;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
    border-radius: 8px;
    flex-direction: column;
    width: 250px;
    height: 320px;
    padding-bottom: 6px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
}

.flag-container{
    width: 260px;  
}
.flag-container img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.details{
    text-align: left;
    width: 100%;
    padding: 0 0 5px 10px;
} */